        /* 모바일 */
        @media screen and (max-width: 900px) {
            .intro{
                width:100%;
                height:90vh;
                position: relative;
                background-image: url('../img//banner.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size:cover;
            }
            .article{
                padding:50px 0;
            }
            #section3{
              padding-top:70px; 
            }
            .content{
                width:90%;
                margin:0 auto;
            }
            .content p{
                padding:0;
            }
            .title{
                margin-bottom:5px;
            }
            .manual{
                width:100%;
                margin:0 auto;
                background-color: #eee;
                text-align: center;
                padding:20px;
            }
            .imgsection{
                margin:20px 0;
            }
            #diff{
                margin-bottom:30px;
            }
            .imgsection2{
                margin-bottom:30px;
            }

            .top5{
                width:100%;
                float:none;
                overflow:hidden;
                margin-bottom:5px;
            }
            .imgpart2{
                float:none;
                width:100%;
                margin:20px 0;
            }
            .imgpart2 img{
                width:100%;
                height:auto;
                /* width:100%; */
            }
            .imgcalendar{
                width:100%;
                margin:30px 0;
            }
            .imgcalendar img{
                width:100%;
            }




            .articlefull{
                width:100%;
                height:70vh;
            }
            .drag{
              width:100%;
              font-size:14px;
              color:#888;
              text-align:center;
              position:absolute;
              bottom:-20px;
              line-height:18px;
            }
            .drag br{
              line-height:18px;
            }
              input[type=range] {
                -webkit-appearance: none;
                width: 80%;
                position: absolute;
                left:10vw;
                /* margin-top:10px; */
              }
              
              input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
              }
              
              input[type=range]:focus {
                outline: none;
              }
              
              input[type=range]::-ms-track {
                width: 100%;
                background: transparent;
                border-color: transparent;
                color: transparent;
              }
              /*#############Thumb##############*/
              
              input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 50px;
                width: 20px;
                /* border-radius: 100%; */
                border:1px solid #adb5bd;
                border-radius:3px;
                background: #fff;
                cursor: pointer;
                margin-top:-8px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
              }

              input[type=range]::-moz-range-thumb {
                height: 46px;
                width: 10px;
                background: #555;
                cursor: pointer;
                margin-top:-6px;
              }
              
              input[type=range]::-ms-thumb {
                height: 46px;
                width: 10px;
                background: #555;
                cursor: pointer;
                margin-top:-3px;
              }
              /*#############Track##############*/
              
              input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 40px;
                background-image: url('../img/colorbar.png');
                background-size: contain;
                background-repeat: no-repeat;
                outline: none;
              }
              
              input[type=range]::-moz-range-track {
                width: 100%;
                height: 40px;
                background-image: url('../img/colorbar.png');
                background-size: cover;
                background-repeat: no-repeat;
                outline: none;
                margin-bottom:20px;
              }
              
              input[type=range]::-ms-track {
                width: 100%;
                height: 40px;
                background-image: url('../img/colorbar.png');
                background-size: cover;
                background-repeat: no-repeat;
                outline: none;
                margin-bottom:20px;
              }


              #fteamname{
                  font-size:18px;
              }
              .credit{
                  font-size:14px;
              }
        }