@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*,body,p { font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight:300; 
    font-size:16px;
    line-height:170%;
    word-break: keep-all;
    }
        #navigation{
            position:fixed;
            right:20px;
            top:40%;
            z-index:1000;
        }
        #navigation a{
            display:block;
            width:10px;
            height:10px;
            border-radius: 100px;
            background-color:#fff;
            border:1px solid #000;
            margin:20px;
        }
        body{
            overflow-x:hidden;
            background-color:#fff;
            /* scroll-snap-type: y proximity; */
        }
        h2{
            margin:20px 20px;
        }
        .intro{
            width:100%;
            position: relative;
        }
        .intro img{
            width:100%;
        }
        .scrolldown{
            position: absolute;
            bottom:100px;
            left:50%;
            transform: translateX(-50%);
            width:40px;
            cursor:pointer;
        }
        .scrolldown img{
            width:100%;
        }
        .btn{
            position: absolute;
            top:5%;
            right:20px;
        }
        .btn div{
            /* width:30px; */
            float:left;
            margin:5px;
            height:30px;
            border:1px solid #000;
            cursor: pointer;
        }
        .manual{
            width:80%;
            margin:0 auto;
            background-color: #eee;
            text-align: center;
            padding:20px;
        }
        .articlefull{
            position: relative;
            height:100vh;
        }
        .article{
            margin:50px 0;
        }
        .content{
            width:900px;
            margin:0 auto;
            padding:50px 0;
        }
        .content p{
            padding:0 50px;
        }
        .title{
            font-size:21px;
            font-weight:bold;
            margin-bottom:20px;
        }
        .imgsection{
            width:100%;
            margin:30px 0;
            overflow:hidden;
        }
        .imgsection .cam{
            width:100%;
            margin:0 auto;
            position: relative;
        }
        .cam .camnum{
            position: absolute;
            top:0;
            left:0;
            font-size:14px;
            font-weight: 500;
            padding:2px 4px;
        }
        .imgsection .map{
            width:100%;
            margin:0 auto;
        }
        .imgsection img{
            width:100%;
        }
        .imagesection::after { content: ''; dispaly: table; clear: both }
        #diff{
            width:100%;
            margin-bottom:30px;
        }
        #diff img{
            width:100%;
        }
        .imgsection2{
            width:100%;
            overflow:hidden;
            margin-bottom:30px;
        }
        .imgsection2::after { content: ''; dispaly: table; clear: both }
        .top5{
            width:100%;
            overflow:hidden;
            margin-bottom:5px;
        }
        .imgpart2{
            float:left;
            width:178px;
            margin:2px 1px;
            box-sizing: border-box;
            position: relative;
        }
        .imgpart2 img{
            height:100px;
            /* width:100%; */
        }
        .order{
            position:absolute;
            padding:2px 4px;
            font-size:12px;
            color:#fff;
            background-color: #000;
            line-height:12px;
        }
        .order{
            top:0;
            left:0;
        }
        .info,.pm{
            font-size:12px;
            line-height:14px;
        }
        .imgcalendar{
            width:100%;
            margin:50px 0;
        }
        .imgcalendar img{
            width:100%;
        }
        footer{
            margin-top:50px;
        }
        .subtitle{
            margin-top:10px;
            color:#999;
            font-weight: bold;
        }
        .tooltip {
            position: absolute;
            top: 100px;
            left:100px;
            /* -moz-border-radius:5px;
            border-radius: 5px; */
            border: 2px solid #000;
            background: #fff;
            opacity: .9;
            color: black;
            padding:5px 10px;
            z-index: 10;
          }
          .tooltip div{
            line-height:12px !important;
          }
          .tooltip span{
            font-size:12px !important;
          }
          .tooltip .value {
            font-weight:bold;
          }
          .date{
              position: relative;
          }
          .red{
              position: absolute;
              bottom:5px;
              width:100%;
              height:10px;
              background-color:#f00;
          }
        @media screen and (max-width: 900px) {
           
            body{
                overflow-x:hidden;
                background-color:#fff;
                scroll-snap-type:none;
            }
            .scrolldown{
                display:none;
            }
            .articlefull{
                margin-top:20px;
                height:auto;
                scroll-snap-align:none;
            }
            .article{
                scroll-snap-align:none;
            }
            .content{
                width:90%;
                margin:0 auto;
                padding:30px 0;
            }
            .content p{
                padding:0;
            }
            .title{
                font-size:21px;
                font-weight:bold;
                margin-bottom:5px;
            }
            .imgsection{
                margin:20px 0;
            }
            #diff{
                margin-bottom:30px;
            }
            .imgsection2{
                margin-bottom:30px;
            }

            .top5{
                width:100%;
                float:none;
                overflow:hidden;
                margin-bottom:5px;
            }
            .imgpart2{
                float:none;
                width:100%;
                margin:20px 0;
            }
            .imgpart2 img{
                width:100%;
                height:auto;
                /* width:100%; */
            }
            .imgcalendar{
                width:100%;
                margin:30px 0;
            }
            .imgcalendar img{
                width:100%;
            }
        

              .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 40px;
                background-image: url('../colorbar.png');
                background-size: cover;
                background-repeat: no-repeat;
                outline: none;
                margin-bottom:20px;
              }
              
              .slider:hover {
                opacity: 1;
              }
              
              .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 3px;
                height: 40px;
                background: #f00;
                cursor: pointer;
              }
              
              .slider::-moz-range-thumb {
                width: 3px;
                height: 40px;
                background: #f00;
                cursor: pointer;
              }
        }