        .container{
            position:absolute;
            height:80%;
            white-space: nowrap;
            bottom:10%;
            margin-left:20px;
        }
        .flexitem{
            height:100%;
            position:absolute;
            left:0;
            top:0;
            box-shadow:none;
            cursor: pointer;
        }
        .brushsec{
            position:absolute;
            bottom:-20px;
            height:5%;
            width:100%;
        }
        .date{
            opacity:0;
            height:5%;
            overflow:visible !important;
        }
        .date span{
            font-size:16px;
        }
        .picture{
            width:100%;
            height:40%;
            overflow:hidden;
            box-shadow:none;
        }
         #active .picture, #active .Palette{
            -webkit-box-shadow:0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }
        #active .baraxis{
            font-weight:bold;
        }
        .picture div{
            width:100%;
            height:99%;
        }
        .Palette{
            width:100%;
            height:20%;
            position:relative;
        }
        .outitem{
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            background-color:#dee2e6;
            color:#000;
            display:none;
        }
        .pm25{
            height:25%;
            width:100%;
            position:relative;
        }
        .pm25bar{
            width:100%;
            position:absolute;
            bottom:0;
            background-color:#888;
        }
        .pm25bar .pmlabel{
            opacity:0;
            position:absolute;
            top:-30px;
            background-color:#212529;
            padding:0 5px;
            color:#fff;
            font-weight: bold;
        }
        .baraxis{
            height:5%;
            font-size:21px;
        }
        .label{
            position:absolute;
            background-color:#212529;
            color:#fff;
            font-size:14px;
        }
        .axis{
            height:25%;
            width:100%;
            position:absolute;
            top:65%;
        }
        .axisline{
            height:1px;
            position: absolute;
            left:-20px;
            bottom:34px;
            z-index:99;
            border-top:1px solid #ff4713;
        }
        .axisline span{
            display:block;
            position:absolute;
            top:-23px;
            left:20px;
            background-color:#ff4713;
            color:white;
            z-index:99;
            font-size: 14px;
        }